<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hairsalon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="../../static/salon/css/style.css">
    </head>
    <body>
        <section id="login">
            <div class="container">
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <div class="login-relative">
                            <div class="page-header login-absolute">

                            {% block content %}{% endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="../../static/salon/js/jquery-3.3.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="../../static/salon/js/salon.js"></script>
    </body>
</html>