{% extends './_base-search.html' %}
{% load bootstrap3 %}

{% block nav %}
        <!--Navigation - start -->
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="">edytuj konto</a></li>
                <li><a href="">usuń konto</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a>witaj {{ user }}</a></li>
                <li><a href="{% url 'salon:logout' %}">wylogowanie</a></li>
                {% else %}
                <li><a href="{% url 'salon:login' %}">logowanie</a></li>
                <li><a href="{% url 'salon:customer-add' %}">rejestracja</a></li>
                {% endif %}
              </ul>

            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <!--Navigation - stop -->
        {% endblock nav %}

{% block content %}
    <section id="search">
            <div class="container">
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <div class="login-relative">
                            <div class="page-header login-absolute">
                                {% if haircuts %}
                                    <table class="table white-backgr">
                                        <tr>
                                            <th>wizyta</th>
                                            <th></th>
                                        </tr>
                                    {% for haircut in haircuts %}
                                        <tr>
                                            <td>{{ haircut }}</td>
                                            <td><a href="">odwołaj</a></td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                {% else %}
                                <form action="" method="post" class="white-backgr">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <input type="submit" name="submit" value="send">
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}

{% block result %}

    <section id="result">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    {% if result %}
                    <table class="table">
                        <tr>
                            <th>Data</th>
                            <th>Fryzjer</th>
                            <th></th>
                        </tr>
                        {% for el in result %}
                        <tr>
                            <td>{{ el.1|date:"D d M Y" }} {{ el.1|time:"H:i" }}</td>
                            <td>{{ el.0 }}</td>
                            <td><a href="{% url 'salon:reservation' el.1|date:'c' el.0.id service.id %}">rezerwuj</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


{% endblock result %}

