{% extends './_base.html' %}
{% load bootstrap3 %}

{% block links %}{% endblock links %}

{% block content %}
        <!--Absences- start -->
        <section id="absence-edit-admin">
            <div class="container">
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <div class="jumbotron table-margin">
                            <h2 class="page-header">Edytuj nieobecność</h2>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <input type="submit" name="submit" value="edit" class="btn btn-primary">
                                <input type="submit" name="submit" value="delete" class="btn btn-danger">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--Absences - stop -->
{% endblock content %}