{% extends './base.html' %}
{% load bootstrap3 %}

{% block title %} Absence
{% endblock title %}

{% block header %}
    <h2>Nieobecności</h2>
{% endblock header %}

{% block content %}
    <table class="table">
        <tr>
            <th>Nieobecność</th>
            <th>Pracownik</th>
        </tr>
    {% for absence in absence_list %}
        <tr>
            <td>{{ absence.start|date:"SHORT_DATE_FORMAT" }}-{{ absence.end|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ absence.staff }}</td>
        </tr>
    {% empty %}
        <p>Brak nieobecności</p>
    {% endfor %}
    </table>

{% endblock content %}