{% extends './_base.html' %}
{% load bootstrap3 %}

{% block nav %}{% endblock nav %}

{% block content %}
    <!--Signup - start -->
    <section id="login">
            <div class="container">
                <div class="row scroll">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <div class="login-relative">
                            <div class="page-header login-absolute">

                                <div class="form-header">
                                    <div class="form-switch form-header-inactive2"><a href="{% url 'salon:login' %}">logowanie</a></div>
                                    <div class="form-switch form-header-active"><a href="">rejestracja</a></div>
                                </div>
                                <div class="white-backgr">
                                    <form action="" method="post" >
                                        {% csrf_token %}
                                        {% bootstrap_form form %}
                                        <input type="submit" name="submit" value="send" class="btn btn-primary">
                                    </form>
                                    {% if err_msg %}
                                        <p class="err-msg">{{ err_msg }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--Signup - stop -->

{% endblock content %}
