{% extends './_base.html' %}
{% load bootstrap3 %}

{% block links %}
    <li><a href="{% url 'salon:main' %}">home</a></li>
{% endblock links %}

{% block content %}
    <!--Customer-edit - start -->
    <section id="customer-edit">

        <div class="container">
            <div class="row">
                <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                    <div class="table-margin jumbotron">
                        <h2 class="page-header">Edytuj dane</h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" name="submit" value="send" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Customer-edit - stop -->

{% endblock content %}