{% extends './_base.html' %}
{% load bootstrap3 %}

{% block navstyling %}
    navbar-static-top
{% endblock navstyling %}

{% block links %}
    <li><a href="{% url 'salon:customer-edit' user.id %}">edytuj konto</a></li>
    <li><a href="{% url 'salon:customer-delete' user.id %}">usuń konto</a></li>
{% endblock links %}

{% block content %}
    <!--Search - start -->
    <section id="search">
            <div class="container">
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        {% if haircuts %}
                                <table id="reserved" class="table ">
                                    <tr>
                                        <th>wizyta</th>
                                        <th></th>
                                    </tr>
                                {% for haircut in haircut_list %}
                                    <tr>
                                        <td>{{ haircut }}</td>
                                        <td><a href="{% url 'salon:haircut-delete' haircut.pk %}">odwołaj</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                        {% else %}
                        <p>Brak wizyt</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    <!--Search - stop -->


{% endblock content %}
