{% extends './_base.html' %}
{% load bootstrap3 %}

{% block links %}
    <li><a href="{% url 'salon:main' %}">home</a></li>
{% endblock links %}

{% block content %}
    <!--Haircut-delete - start -->
        <div class="container">

            <div class="row">
                <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                    <div class="table-margin jumbotron">
                        <h4>Czy na pewno usunąć wizytę u fryzjera "{{ haircut }}"?</h4>
                        <form action="" method="post">{% csrf_token %}

                            <input type="submit" value="Confirm" class="btn btn-danger">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!--Haircut-delete - stop -->
{% endblock content %}
