{% extends './_base.html' %}
{% load bootstrap3 %}

{% block links %}
    <li><a href="{% url 'salon:main' %}">home</a></li>
{% endblock links %}

{% block content %}
    <!--Search - start -->
    <section id="haircut-list">
            <div class="container">
                {% if haircut_list %}
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <div class="table-margin">
                            <h2>{{ haircut_list.0.date|date:"D d.m.y" }}</h2>
                            <table class="table">
                                <tr>
                                    <th>Wizyta</th>
                                    <th>Pracownik</th>
                                    <th>Usługa</th>
                                    <th></th>
                                </tr>
                            {% for haircut in haircut_list %}
                                <tr class="row-active">
                                    <td>{{ haircut.date|time:"H:i" }}</td>
                                    <td>{{ haircut.staff }}</td>
                                    <td>{{ haircut.service }}</td>
                                    <td><a href="{% url 'salon:haircut-delete' haircut.pk %}">delete</a></td>
                                </tr>
                                <tr class="row-inactive">
                                    <td colspan="4">
                                    {% if haircut.customer.is_staff %}
                                        Klient:  {{ haircut.non_online_customer.name }},
                                        tel.:  {{ haircut.non_online_customer.phone }}
                                    {% else %}
                                        Klient:  {{ haircut.customer }},
                                        tel.:  {{ haircut.customer.phone }}
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <div class="jumbotron {% if not haircut_list %} table-margin {% endif %}">
                            <h2 class="page-header">Wyszukaj</h2>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <input type="submit" name="submit" value="send" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--Search - stop -->


{% endblock content %}
