{% extends './_base.html' %}


        {% block content %}
        <!--Header - start -->
        <section id="header">
            <div id="logo">
                <img src="../../static/salon/images/logotyp.svg" alt="">
            </div>
        </section>
        <!--Header - stop -->

        <!--About - start -->
        <section id="about">
            <div class="about-content">
                <h1>Hair salon</h1>
                <h4>salon fryzjerski dla każdego, profesjonalni fryzjerzy, niebanalne pomysły, zmysł artystyczny</h4>
            </div>
        </section>
        <!--About - stop -->

        <!--Staff - start -->
        <section id="staff">
            <div class="container-fluid">
                <div class="row no-gutters staff-row">
                    <div class="col-sm-6 staff-img staff1"></div>
                    <div class="col-sm-6 staff-data staff1">
                        <div class="staff-content">
                            <h3>{{ staff_list.0|title }}</h3>
                            <p>{{ staff_list.0.about }}</p>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters staff-row">
                    <div class="col-sm-6 staff-data staff2">
                        <div class="staff-content">
                            <h3>{{ staff_list.1|title }}</h3>
                            <p>{{ staff_list.1.about }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 staff-img staff2"></div>
                </div>
                <div class="row no-gutters staff-row">
                    <div class="col-sm-6 staff-img staff3"></div>
                    <div class="col-sm-6 staff-data staff3">
                        <div class="staff-content">
                            <h3>{{ staff_list.2|title }}</h3>
                            <p>{{ staff_list.2.about }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Staff - stop -->

        <!--Services - start -->
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <div class="table-margin">
                            <table class="table">
                                <tr>
                                    <th>Usługa</th>
                                    <th>Cena</th>
                                </tr>
                            {% for service in service_list %}
                                <tr>
                                    <td>{{ service }}</td>
                                    <td>{{ service.price|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>>
        </section>
        <!--Services - stop -->
        <!--Contact - start -->
        <section id="contact">
            <div class="container-fluid">
                <div class="row no-gutters contact-row">
                    <div class="col-sm-6 contact-data">
                        <div class="contact-content">
                            <h3>Adres</h3>
                            <p>Kontakt</p>
                        </div>
                    </div>
                    <div class="col-sm-6 contact-img"></div>
                </div>
            </div>
        </section>
        <!--Contact - stop -->
        {% endblock content %}
