{% extends './_base.html' %}
{% load bootstrap3 %}

{% block links %}
    <li><a href="{% url 'salon:main' %}">home</a></li>
{% endblock links %}

{% block content %}
    <!--Search - start -->
    <section id="search">
            <div class="container">
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        {% if haircut %}
                            <div class="table-margin">
                                <table id="reserved" class="table ">
                                    <tr>
                                        <th>wizyta</th>
                                        <th>klient</th>
                                        <th>telefon</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td><div><i class="far fa-calendar-alt"></i>{{ haircut.date|date:"D d.m.y" }}</div>
                                            <div><i class="far fa-clock"></i>{{ haircut.date|time:"H:i" }}</div></td>
                                        <td>{{ haircut.non_online_customer.name }}</td>
                                        <td>{{ haircut.non_online_customer.phone }}</td>
                                        <td><a href="{% url 'salon:haircut-delete' haircut.pk %}">odwołaj</a></td>
                                    </tr>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    <!--Search - stop -->

{% endblock content %}
