{% extends './_base.html' %}
{% load bootstrap3 %}

{% block links %}{% endblock links %}

{% block content %}
        <!--Reservation- start -->
        <section id="services-admin">
            <div class="container">
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <div class="table-margin">
                            <h2 class="page-header">Rezerwuj:</h2>
                            <p><i class="far fa-calendar-alt"></i>{{ reservation_date|date:"D d.m.y" }}</p>
                            <p><i class="far fa-clock"></i>{{ reservation_date|time:"H:i" }}</p>
                            <p>fryzjer: {{ staff }}</p>

                            <form action="" method="post">
                            {% csrf_token %}
                                {% if user.is_superuser %}
                                    {% bootstrap_form form %}
                                {% endif %}
                                <input type="submit" name="submit" value="send" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--Reservation - stop -->
{% endblock content %}