{% extends './_base.html' %}
{% load bootstrap3 %}

{% block links %}
    <li><a href="{% url 'salon:main' %}">home</a></li>
{% endblock links %}

{% block content %}
    <!--Search - start -->
    <section id="search">
            <div class="container">
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        {% if haircuts and not user.is_staff %}
                            <div class="table-margin">
                                <table id="reserved" class="table ">
                                    <tr>
                                        <th>wizyta</th>
                                        <th></th>
                                    </tr>
                                {% for haircut in haircuts %}
                                    <tr>
                                        <td>{{ haircut }}</td>
                                        <td><a href="{% url 'salon:haircut-delete' haircut.pk %}">odwołaj</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                        {% else %}
                        <div class="table-margin jumbotron">
                        <h2 class="page-header">Wyszukaj termin</h2>
                        <form action="" method="post" >
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <!--<select name="" id=""></select>-->
                            <div class="form-group"><label for="id-dates" class="control-label">Zakres dat</label>
                                <select name="dates" id="id-dates" class="form-control">
                                    {% for date in dates %}
                                    <option value="{{date.0}}">{{date.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="submit" name="submit" value="send" class="btn btn-primary">
                        </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    <!--Search - stop -->

{% endblock content %}
