{% extends './_base.html' %}
{% load bootstrap3 %}

{% block navstyling %}
    navbar-static-top
{% endblock navstyling %}

{% block links %}
    <li><a href="{% url 'salon:main' %}">home</a></li>
    <li><a href="{% url 'salon:service' %}">usługi</a></li>
    <li><a href="{% url 'salon:staff' %}">pracownicy</a></li>
    <li><a href="{% url 'salon:absence' %}">nieobecności</a></li>
    <li><a href="{% url 'salon:holiday' %}">święta</a></li>
    <li><a href="{% url 'salon:haircut' %}">wizyty</a></li>
{% endblock links %}

{% block content %}
        <!--Services- start -->
        <section id="services-admin">
            <div class="container">
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <div class="table-margin">
                            <table class="table">
                                <tr>
                                    <th>Usługa</th>
                                    <th>Cena</th>
                                    <th></th>
                                </tr>
                            {% for service in service_list %}
                                <tr>
                                    <td>{{ service }}</td>
                                    <td>{{ service.price|floatformat:2 }}</td>
                                    <td><a href="{% url 'salon:service-edit' service.id %}">edytuj</a></td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
                        <div class="jumbotron">
                            <h2 class="page-header">Dodaj usługę</h2>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <input type="submit" name="submit" value="send" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>>
        </section>
    <!--Services - stop -->
{% endblock content %}