{% extends './base.html' %}
{% load bootstrap3 %}

{% block title %} Service
{% endblock title %}

{% block header %}
    <h2>Usługi</h2>
{% endblock header %}

{% block content %}
    <table class="table">
        <tr>
            <th>Usługa</th>
            <th>Cena</th>
        </tr>
    {% for service in service_list %}
        <tr>
            <td>{{ service }}</td>
            <td>{{ service.price|floatformat:2 }}</td>
        </tr>
    {% empty %}
        <p>Brak usług</p>
    {% endfor %}
    </table>

{% endblock content %}